.container {
  composes: panel from '../../../styles/composable.css';
}

.articles {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: var(--gutter);
  margin-right: var(--gutter);

  @media (--viewport-medium) {
    flex-direction: column;
  }

  @media (--viewport-large) {
    flex-direction: column;
  }
}

.article {
  border-bottom: 1px solid #b3b3b3;

  &:last-of-type {
    border-bottom: none;
  }

  @media (--viewport-medium) {
    border-bottom: none;
    flex: 1;
    margin-right: var(--gutter);

    &:nth-of-type(3) {
      margin-right: 0;
    }

    &:last-of-type {
      display: none;
    }
  }

  @media (--viewport-large) {
    border-bottom: 1px solid #b3b3b3;
    margin-right: 0;

    &:not(:first-of-type) [data-article-image='true'] {
      @media (--viewport-medium) {
        display: none;
      }
    }

    &:last-of-type {
      display: block;
      margin-right: 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #b3b3b3;
  padding: calc(var(--gutter) / 2) var(--gutter);
}

.news-link {
  composes: arrow-icon-link from '../../../styles/composable.css';
}
