.container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: var(--gutter);
  border-top: 3px solid #000;
  border-bottom: 1px solid #b3b3b3;
}

.heading {
  display: flex;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;

  & img {
    display: inline-block;
    padding-right: 0.25rem;
  }
}
